__pycache__/
**/__pycache__/
.snakemake/
.vscode/
.idea
.pytest_cache/
.coverage
tests/upstream/out/
upload/



backend/settings.yaml

backend/db/tests.ipynb
backend/db/基因表达量表-counts.csv
backend/kafori_running.log

tests/test_backend_core/conftest.py

